@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: arial,sans-serif;
}
body {
    background-image: linear-gradient(to right, #f1d8c9, #f1bc9b)
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(214, 138, 103, 0.568);
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    text-align: center;
    color: rgb(241, 168, 32);
    text-shadow: 1px 1px 2px rgba(155, 108, 20, 0.747);
}

h2 {
    color: rgb(33, 90, 145)
}
p {
    text-align: justify;
}
